html{
    max-width: 80%;    
    margin: auto;
    padding: 7em;
    padding-top: 2em;
    background-color: white;
   
    ;
    
}

h1 {
    text-align: center;
    margin: auto;
    color: red;
   

}
body {
    background-color: rgb(43, 183, 226);   
    text-align: center;
    
    
    
}

p {
    color: rgb(200, 255, 0);
    font-size: 1rem; 
     margin: auto;    
    text-align: center; 
    font-weight: bolder;
    line-height: 1em;

}

{

}










