html{
    max-width: 80%;    
    margin: auto;
    padding: 7em;
    padding-top: 2em;
   
}

h1 {
    text-align: center;
    margin: auto;
    color: red;
    font-family: 'Metal Mania', cursive;
    font-size: larger;
}

h4 {
    font-size: larger;
    color: red;
}

body {
  background-color: darkslategrey;
     text-align: center;
    min-height: 500px;
    
}

p {
    color: rgb(200, 255, 0);
    font-size: 1rem; 
     margin: auto;    
    text-align: center; 
    font-weight: bolder;
    line-height: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

 ul {
    list-style-type: none;
    padding: 0;
}

 ul li {
    display: inline;
    
    
} 
a {
    color: indianred;
    font-size:larger;
}

a:hover {
    background-color: yellow;
    font-weight: bold ;   
    color: forestgreen;
  }
  
#song {
   color: darkorange;
   font-weight: bolder;
   font-size: larger;
}

header {
    color: yellowgreen;
    position: fixed;
    border: solid 5px rgb(51, 153, 68);
    border-radius: 50%;
    width: 140px;
    height: 30px;
    line-height: 200%;
}

.copyr {
    top: 3px;
    position: absolute;
    right: 110px
     
}